<body>

  <span id="tasks-display">
    <h1>Checklist</h1>
  </span>

  <section class="content-left">
    <aside>
      <div class='side-items'>
        <p><%= link_to "New Task", new_task_path %></p>
        <p>Save changes</p>
        <p class="read-more">Welcome Admin</p>
      </div>
    </aside>

    <article>
      <h2>Currently working on</h2>
      <div class="open-list">
        <% @tasks.incomplete.each do |task| %>
          <div class="items">
            <small class ="checkbox">
              <%= form_for task do |f| %>
                <%= f.hidden_field(:completed, value: true) %>
                <%= f.submit "mark complete"%>
              <% end %>
            </small>
            <p class="body"><%= task.description %></p>
            <small class="link"><%= link_to "Delete", task_path(task), method: :DELETE %></small>
          </div>
          <hr class="space" />
        <% end %>
      </div>

      <hr class="line" />

      <h2>Completed</h2>
      <div class="close-list">
        <% @tasks.complete.each do |task| %>
          <div class="items">
            <span>
              <small class="checkbox">
                <%= form_for task do |f| %>
                  <%= f.hidden_field(:completed, value: false) %>
                  <%= f.submit "mark incomplete"%>
                <% end %>
              </small>
              <p class="body"> <%= task.description %> </p>
              <small class="link"><%= link_to "Delete", task_path(task), method: :DELETE %></small>
            </span>
          </div>
        <hr class="space" />
        <% end %>
      </div>
    </article>

  </section>

</body>
