<body>

  <span id="tasks-display">
    <h1>Checklist</h1>
  </span>

  <section class="content-left">
    <aside>
      <div class='side-items'>
        <p><%= link_to "New Task", new_task_path %></p>
        <p>Save changes</p>
        <p class="read-more">Welcome Admin</p>
      </div>
    </aside>

    <article>
      <h2>Currently working on</h2>
      <div class="open-list">
        <% @tasks.each do |task| %>
          <div class="items">
            <small class ="checkbox"><%= task.completed %></small>
            <p class="body"><%= task.description %></p>
            <small class="link"><%= link_to "Delete", task_path(task), method: :DELETE %></small>
          </div>
        <% end %>
      </div>

      <hr class="line" />

      <h2>Completed</h2>
      <div class="close-list">
        <% @tasks.each do |task| %>
          <div class="items">
            <span>
              <p><%= task.description %></p>
              <small><%= task.completed %></small>
              <p class="link"><%= link_to "Delete", task_path(task), method: :DELETE %></p>
            </span>
          </div>
        <% end %>
      </div>
    </article>

  </section>

</body>
